.extra-nav .btn-corner {
  border-radius: 10px;
  color: white;
  background-color: #8639fa;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  padding: 8px 20px;
  transition-property: all;
}
.extra-nav .wrap-service svg {
  fill: white;
}
.extra-nav .btn-corner:hover svg {
  fill: #8639fa;
}
.extra-nav .btn-corner:hover,
.extra-nav .btn-corner:active {
  color: #8639fa;
  background-color: white;
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.hideX #preloader,
.hideX .pace {
  display: none !important;
}
.hideX #preloader {
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
/* animation */
.shape20 {
  position: absolute;
  right: 55%;
  bottom: 5%;
  opacity: 0.5;
  z-index: 0;
}
.shape21 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 0;
}
.shape19 {
  position: absolute;
  right: 35%;
  bottom: -25px;
  opacity: 0.5;
  z-index: 0;
}
.shape22 {
  position: absolute;
  left: 5%;
  top: 15%;
  opacity: 0.5;
  z-index: 0;
}
.shape23 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  opacity: 0.5;
  z-index: 0;
}
.shape24 {
  position: absolute;
  left: 25%;
  top: 40%;
  opacity: 0.5;
  z-index: 0;
}
.shape26 {
  position: absolute;
  left: 30%;
  top: 15%;
  opacity: 0.5;
  z-index: 0;
}
.shape20 img {
  animation: moveLeftBounce 3s linear infinite;
}
.shape21 img {
  animation: moveBounce 5s linear infinite;
}
.shape19 img {
  animation: moveLeftBounce 3s linear infinite;
}
.shape22 img {
  animation: animationFramesOne 20s linear infinite;
}
.shape23 img {
  animation-name: rotateMe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.shape24 img {
  animation: animationFramesOne 20s linear infinite;
}
.shape26 img {
  animation: moveLeftBounce 3s linear infinite;
}
@keyframes moveLeftBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes moveBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* header logo */
@media only screen and (max-width: 991px) {
  .mo-left .header-nav .logo-header {
    display: flex !important;

    justify-content: center;
  }
}
/* price card */
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
.single-pricing-table.left-align {
  /* text-align: left; */
}
.single-pricing-table {
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0px 0 10px rgb(31 66 135 / 30%);
}
.single-pricing-table.left-align .price,
.single-pricing-table.left-align .pricing-header {
  padding-left: 40px;
  padding-right: 40px;
}
.single-pricing-table .pricing-header {
  padding-top: 25px;
  padding-bottom: 20px;
}
.single-pricing-table.left-align .price,
.single-pricing-table.left-align .pricing-header {
  padding-left: 40px;
  padding-right: 40px;
}
.single-pricing-table .price {
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
}
.single-pricing-table .price sup {
  top: -18px;
  left: -5px;
  font-size: 18px;
  font-weight: 500;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
.single-pricing-table .price sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}
.single-pricing-table.left-align .pricing-features {
  margin-left: 80px;
  margin-right: 40px;
}
.single-pricing-table .pricing-features {
  padding-left: 0;
  text-align: left;
  list-style-type: none;
  margin: 30px 50px 0;
}
.single-pricing-table .pricing-features li {
  margin-bottom: 10px;
  position: relative;
  color: #444683;
  padding-left: 21px;
}
.single-pricing-table .pricing-features li i {
  color: #13c4a1;
  position: absolute;
  left: 0;
  top: 3px;
}
/* custom btn */
.custom-box {
  padding-left: 40px;
  margin-top: 30px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.custom-box .default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #ff612f;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding: 13px 25px 13px 50px;
}
.custom-box .default-btn i {
  color: #080a3c;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.5s;
}
.col-lg-4:first-child .single-pricing-table .custom-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn:hover i {
  color: #080a3c;
}
.single-pricing-table .custom-box .default-btn {
  background-color: #8639fa;
  display: flex;
  width: 200px;
  margin-left: -50px;
}
.default-btn span {
  position: absolute;

  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #13c4a1;
  transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}
.default-btn:focus span,
.default-btn:hover span {
  width: 225%;
  height: 562.5px;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn span {
  background-color: #ff612f;
}
.default-btn:hover {
  color: #fff;
  box-shadow: 0 5px 28.5px 1.5px rgba(19, 196, 161, 0.3) !important;
}
/* custom tab */
.pricing-list-tab .tabs {
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.pricing-list-tab .tabs li {
  display: inline-block;
}
/* .pricing-list-tab .tabs li:first-child span {
  border-radius: 30px 0 0 30px;
} */
.pricing-list-tab .tabs li span {
  cursor: pointer;
  display: block;
  background-color: #fff;
  color: #8d8fb4;
  padding: 10px 30px 10px 53px;
  position: relative;
  border-radius: 5px;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 16px;
  font-weight: 500;
}
.pricing-list-tab .tabs li.current span {
  color: #fff;
  background-color: #080a3c;
}
/* .pricing-list-tab .tabs li:last-child span {
  border-radius: 0 30px 30px 0;
} */
.active:after,
.active:before {
  pointer-events: none !important;
}
.extra-nav .btn-corner {
  border-radius: 5px;
}
.text-black .header-nav .nav > li > a {
  color: #1f2471;
}
.stars i {
  color: #fea500;
}
