.extra-nav .btn-corner {
  border-radius: 10px;
  color: white;
  background-color: #8639fa;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  padding: 8px 20px;
  transition-property: all;
}
.extra-nav .wrap-service svg {
  fill: white;
}
.extra-nav .btn-corner:hover svg {
  fill: #8639fa;
}
.extra-nav .btn-corner:hover,
.extra-nav .btn-corner:active {
  color: #8639fa;
  background-color: white;
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.contact-btn .btn-corner:hover {
  color: #8639fa;
  background-color: white;
}
.contact-info h3 {
  font-size: 1.2rem;
}
.hideX #preloader,
.hideX .pace {
  display: none !important;
}
.hideX #preloader {
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
/* animation */
.shape20 {
  position: absolute;
  right: 55%;
  bottom: 5%;
  opacity: 0.5;
  z-index: 0;
}
.shape21 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 0;
}
.shape19 {
  position: absolute;
  right: 35%;
  bottom: -25px;
  opacity: 0.5;
  z-index: 0;
}
.shape22 {
  position: absolute;
  left: 5%;
  top: 15%;
  opacity: 0.5;
  z-index: 0;
}
.shape23 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  opacity: 0.5;
  z-index: 0;
}
.shape24 {
  position: absolute;
  left: 25%;
  top: 40%;
  opacity: 0.5;
  z-index: 0;
}
.shape26 {
  position: absolute;
  left: 30%;
  top: 15%;
  opacity: 0.5;
  z-index: 0;
}
.shape20 img {
  animation: moveLeftBounce 3s linear infinite;
}
.shape21 img {
  animation: moveBounce 5s linear infinite;
}
.shape19 img {
  animation: moveLeftBounce 3s linear infinite;
}
.shape22 img {
  animation: animationFramesOne 20s linear infinite;
}
.shape23 img {
  animation-name: rotateMe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.shape24 img {
  animation: animationFramesOne 20s linear infinite;
}
.shape26 img {
  animation: moveLeftBounce 3s linear infinite;
}
@keyframes moveLeftBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes moveBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* header logo */
@media only screen and (max-width: 991px) {
  .mo-left .header-nav .logo-header {
    display: flex !important;

    justify-content: center;
  }
}
/* price card */
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
.single-pricing-table {
  margin-bottom: 30px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;
  color: #505489;
  border-radius: 10px;
  transition: 0.5s;
}
.table-price {
  transition: all 0.5s;
  background-color: white;
}
.table-price:hover {
  box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}
.table.single-pricing-table tr th {
  color: #505489;
  border-top: none;
}
.single-pricing-table i {
  color: #13c4a1;
}
.single-pricing-table.left-align .price,
.single-pricing-table.left-align .pricing-header {
  padding-left: 40px;
  padding-right: 40px;
}
.single-pricing-table .pricing-header {
  padding-top: 25px;
  padding-bottom: 20px;
}
.single-pricing-table.left-align .price,
.single-pricing-table.left-align .pricing-header {
  padding-left: 40px;
  padding-right: 40px;
}
.single-pricing-table .price {
  transition: 0.5s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 28px;
}
.single-pricing-table .price sup {
  top: -18px;
  left: -5px;
  font-size: 18px;
  font-weight: 500;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
.single-pricing-table .price sub {
  bottom: 2px;
  color: #4a6f8a;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}
.single-pricing-table.left-align .pricing-features {
  margin-left: 80px;
  margin-right: 40px;
}
.single-pricing-table .pricing-features {
  /* padding-left: 0;
  text-align: left;
  margin: 30px 50px 0; */
  list-style-type: none;
}
.single-pricing-table .pricing-features li {
  margin-bottom: 10px;
  position: relative;
  color: #444683;
  padding-left: 21px;
}
.single-pricing-table .pricing-features li i {
  color: #13c4a1;
  position: absolute;
  left: 0;
  top: 3px;
}
/* custom btn */
.custom-box {
  padding-left: 40px;
  margin-top: 30px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.custom-box .default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #ff612f;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding: 13px 25px 13px 50px;
}
.custom-box .default-btn i {
  color: #080a3c;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.5s;
}
.col-lg-4:first-child .single-pricing-table .custom-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn i {
  color: #ff612f;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn:hover i {
  color: #080a3c;
}
.single-pricing-table .custom-box .default-btn {
  background-color: #8639fa;
  display: flex;
  width: 200px;
  margin-left: -50px;
  justify-content: center;
  padding-right: 55px;
}
.single-pricing-table .custom-box .default-btn p {
  white-space: nowrap;
  margin-bottom: 0;
}
.default-btn span {
  position: absolute;
  top: 26px;
  left: 90px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #13c4a1;
  transition: width 0.6s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 5px;
}
.default-btn:focus span,
.default-btn:hover span {
  width: 225%;
  height: 562.5px;
}
.col-lg-4:nth-child(3) .single-pricing-table .custom-box .default-btn span {
  background-color: #ff612f;
}
.default-btn:hover {
  color: #fff;
  box-shadow: 0 5px 28.5px 1.5px rgba(19, 196, 161, 0.3) !important;
}
/* custom tab */
.pricing-list-tab .tabs {
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.pricing-list-tab .tabs li {
  display: inline-block;
}
/* .pricing-list-tab .tabs li:first-child span {
  border-radius: 30px 0 0 30px;
} */
.pricing-list-tab .tabs li span {
  cursor: pointer;
  display: block;
  background-color: #fff;
  color: #8d8fb4;
  padding: 10px 30px 10px 53px;
  position: relative;
  border-radius: 5px;
  margin-left: -1px;
  margin-right: -1px;
  font-size: 16px;
  font-weight: 500;
}
.pricing-list-tab .tabs li.current span {
  color: #fff;
  background-color: #8639fa;
}
/* .pricing-list-tab .tabs li:last-child span {
  border-radius: 0 30px 30px 0;
} */
.active:after,
.active:before {
  pointer-events: none !important;
}
.extra-nav .btn-corner {
  border-radius: 5px;
}
.text-black .header-nav .nav > li > a {
  color: #1f2471;
}
.stars i {
  color: #ffe435;
  margin-right: 5px;
}
.header-nav .nav > li > a {
  text-transform: unset !important;
}
.text-black .header-nav .nav > li > a.active {
  color: #8639fa;
}
.header-transparent .is-fixed .nav > li > a.active,
.header-transparent .is-fixed .nav > li > a:hover {
  color: #8639fa;
}
.header-nav .nav > li > a:hover {
  color: #8639fa;
}
.our-promises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.our-promises svg {
  width: 5em;
}
.our-promises .col-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.our-promises .col-md h4 {
  margin: 20px;
}
.input-group > .form-control {
  border: none;
}
.dzForm .row .col-sm-12 button.btn-primary {
  width: 100%;
  border-radius: 5px;
}
.dzForm .row .col-sm-12 button.btn-primary i {
  margin-right: 10px;
}
.contact-info {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
  margin: 1rem !important;
  padding: 3rem !important;
  text-align: center !important;
  /* color: #be63f9; */
  position: relative;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
.color-1.bg-hover:hover::after,
.color-1.bg-hover.active::after {
  background-color: #be63f9;
}
.bg-hover.hover-bottom::after {
  bottom: 0;
}

.bg-hover::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 100%;
  left: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.color-3.bg-hover:hover::after,
.color-3.bg-hover.active::after {
  background-color: #fc573b;
}
.bg-hover.hover-bottom::after {
  bottom: 0;
}
.bg-hover::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 100%;
  left: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
/* .pricing-tablee .table-responsive {
  box-shadow: 0px 0 10px rgb(31 66 135 / 31%);
} */
.table.single-pricing-table tr td,
.table tr th {
  padding: 15px;
  max-width: 200px;
}
.icon-bx-md .icon-cell img {
  height: 100%;
}
.container .action-box.style-1 {
  padding: 30px 0 30px;
}
.page-wraper .content-inner,
.page-wraper .content-inner-2 {
  padding-top: 0px;
  padding-bottom: 70px;
}
.page-wraper .projects {
  padding-top: 57px;
}
.content-inner.pt-100px,
.content-inner-2.pt-100px {
  padding-top: 130px;
}
.content-inner.prt-accordion {
  padding-right: 100px;
  padding-left: 100px;
}
@media only screen and (max-width: 575px) {
  .section-head h2.title {
    text-align: center;
    padding-bottom: 31px;
  }
}
.container .dlab-team.style-1 .dlab-content {
  margin-left: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .dlab-team.style-1 .dlab-media {
  margin-right: 0px;
  padding: 40px;
  background: white;
}
.team-row {
  margin-right: 0;
  margin-left: 0;
  align-items: center;
  gap: 76px;
  justify-content: center;
}
.container .dlab-team.style-1 .dlab-media img,
.dlab-post-media img {
  max-width: 235px;
}
.container .dlab-team.style-1 .dlab-content .clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-carousel .content {
  position: relative;
}
.work-carousel .swiper-slide {
  padding: 0px 10px 50px;
}
.work-carousel .content .img {
  position: relative;
  line-height: 0;
}
.work-carousel .content .cont {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}
.work-carousel2 .content .cont a {
  color: #fff;
}
.work-carousel .content > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.work-carousel .content .cont h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.work-carousel .content .cont h4 {
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
@import url("light.css");
span.imgio > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.extra-nav.cta .btn-corner {
  padding: 19px 50px;
  font-size: 20px;
}
.less-bottons {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0px;
}
.less-bottons .extra-nav.cta .btn-corner {
  font-size: 12px;
  padding: 7px;
}
.testimonial-text p {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
}
.testimonials-wraper-2 .swiper-container.testimonial-content .swiper-drapper {
  padding-bottom: 0px;
}
@media only screen and (max-width: 575px) {
  .content-inner.prt-accordion {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.tooltips {
  margin-left: 11px;
  position: relative;
}
.tooltips .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1f2471;
  color: #fff;
  text-align: center;
  line-height: 17px;
  font-size: 12px;
  font-family: "Poppins";
  border-radius: 6px;
  padding: 5px 8px;
  font-weight: normal;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}
.tooltips:hover .tooltiptext {
  visibility: visible;
}
.tooltips .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1f2471 transparent transparent transparent;
}
.cases .testimonials {
  padding-top: 50px;
}
.main-bar .extra-cell {
}

.main-bar .extra-cell {
  width: auto;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;

  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.main-bar .extra-cell:before {
  content: "";
  background: linear-gradient(45deg, #ffffff, transparent);

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: wipe 10s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  pointer-events: none;
}

.main-bar .extra-cell:active {
  color: #000;
}

.main-bar .extra-cell:active:after {
  background: transparent;
}

.main-bar .extra-cell:hover:before {
  opacity: 1;
}

.main-bar .extra-cell:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  10% {
    background-position: 400% 0;
    opacity: 1;
  }
  11% {
    background-position: 0 0;
    opacity: 0;
  }
  100% {
    background-position: 0 0;
    opacity: 0;
  }
}

@keyframes wipe {
  0% {
    clip-path: polygon(-50% -1%, 0% -1%, -50% 101%, -100% 101%);
  }
  20%,
  100% {
    clip-path: polygon(150% -1%, 200% -1%, 150% 101%, 100% 101%);
  }
}
/* =========== tarievien mobile ========== */
@media only screen and (max-width: 600px) {
  .pricing-list-tab .tabs li {
    display: block;
    margin-top: 5px;
  }
  .single-pricing-table h3 {
    font-size: 1rem;
  }
  .single-pricing-table span {
    font-size: 0.8rem;
  }
  .single-pricing-table .price {
    font-size: 1rem;
  }
  .single-pricing-table .price sub {
    font-size: 0.8rem;
  }
  .single-pricing-table .price sup {
    top: -10px;
    left: 1px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .single-pricing-table .pricing-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #__next > div > div > section > div > div:nth-child(3) > div > table > tbody {
    position: relative;
    overflow-x: auto;
  }
  #__next
    > div
    > div
    > section
    > div
    > div:nth-child(3)
    > div
    > table
    > tbody
    > tr
    th {
    position: sticky;
    width: 200px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 5;
  }
  /* .table.single-pricing-table tr td {
    padding: 15px 0px;
    max-width: 98px;
    font-size: 0.8rem;
  }
  .single-pricing-table .custom-box .default-btn {
    font-size: 0.7rem;
    padding: 2px 2px;
    width: 70px;
    height: 59px;
    flex-direction: column;
    align-items: center;
  }
  .single-pricing-table .wrap-service svg {
    width: 15px;
    height: 15px;
    padding: 0px;
    margin-right: 3px;
  }
  .single-pricing-table .custom-box .default-btn p {
    white-space: inherit;
    margin-bottom: 0;
    text-align: center;
  }*/
}
.header-nav .dlab-social-icon a {
  margin-right: 19px;
}
.diensten-container {
  margin-top: 50px;
  margin-bottom: 90px;
}
.homepagefaq-container {
  margin-bottom: 90px;
}
.contact-btn.custom-box {
  padding-left: 0;
}
.contact-btn.custom-box button {
  width: 100%;
}
.contact-btn.custom-box .icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.contact-btn.custom-box span {
  background-color: #8639fa;
  top: 26px;
  left: 250px;
}
.contact-btn.custom-box i {
  color: white;
  font-size: 20px;
  transition: 0.5s;
  position: inherit;
  transform: inherit;
  margin-right: 15px;
}
.contact-btn.custom-box p {
  margin: 0;
}
/* ============= cases =========== */
.case-details .content-inner-2 {
  margin-top: 100px;
  padding-bottom: 0px;
}
/* .page-wraper .content-inner,
.page-wraper .case-details {
  padding-bottom: 0px;
} */
@media only screen and (max-width: 767px) {
  .dlab-content .video-bx.style-3 {
    height: auto;
  }
}
.diensten-container {
}
.contact-us section.content-inner {
}
.swiper-slide a {
  color: inherit;
}
.swiper-slide .testimonial-4 {
  box-shadow: none;
  transition: all 0.5s ease;
}
.swiper-slide .testimonial-4:hover {
  box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}
.clearfix .dlab-accordion .card {
  box-shadow: none;
  transition: all 0.5s ease;
}
.clearfix .dlab-accordion .card:hover {
  box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}
footer .widget_about {
  text-align: center;
}

@media (min-width: 992px) {
  footer .container > .row div:nth-child(3) {
    padding-left: 0px;
  }
}
