.imago {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.imago.animated {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* ====================== [ End Text Animation & Images ] ====================== */

/* ====================== [ End navbar ] ====================== */
/* ====================== [ Start Slider ] ====================== */
.slider {
  position: relative;
}

.slider.fixed-slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.slider .swiper-slide-active {
  z-index: 3;
}

.slider .setone {
  position: absolute;
  bottom: 8%;
  right: 40px;
  z-index: 8;
}

.slider .setone .swiper-nav-ctrl {
  color: #ccc;
  font-size: 13px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin: 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: static;
}

.slider .setone .swiper-nav-ctrl:after {
  display: none;
}

.slider .setone.setwo {
  position: static;
}

.slider .setone.setwo .swiper-nav-ctrl {
  border-radius: 50%;
}

.slider .setone.setwo .next-ctrl {
  position: absolute;
  top: 50%;
  right: 30px;
}

.slider .setone.setwo .prev-ctrl {
  position: absolute;
  top: 50%;
  left: 30px;
}

.slider .txt-botm {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 8;
}

.slider .txt-botm .swiper-nav-ctrl {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: auto;
  top: auto;
  bottom: 0;
}

.slider .txt-botm .swiper-nav-ctrl i {
  color: #888;
  font-size: 13px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slider .txt-botm .swiper-nav-ctrl span {
  color: #111;
  font-weight: 500;
  font-size: 12px;
}

.slider .txt-botm .swiper-nav-ctrl:after {
  display: none;
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-next {
  right: 40px;
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-next i {
  margin-left: 10px;
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-prev {
  left: 40px;
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-prev i {
  margin-right: 10px;
}

.slider .txt-botm .swiper-nav-ctrl:hover i {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.slider.showcase-full .txt-botm i {
  color: #eee;
}

.slider.showcase-full .txt-botm span {
  color: #fff;
}

.slider.showcase-full .txt-botm:hover i {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slider .swiper-pagination-fraction.top {
  position: absolute;
  right: 15%;
  left: auto;
  bottom: auto;
  top: 20%;
  width: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current:after {
  content: "/";
  color: #fff;
  position: relative;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 100;
}

.slider .swiper-pagination-fraction.top.botm {
  top: auto;
  bottom: 40px;
  right: 40px;
}

.slider .swiper-pagination-fraction.steps {
  position: absolute;
  width: 100px;
  color: #fff;
  font-size: 15px;
  bottom: 40px;
  left: calc(50% - 50px);
  right: auto;
  top: auto;
  text-align: left;
}

.slider .swiper-pagination-fraction.steps:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.slider .swiper-pagination-fraction.steps .swiper-pagination-total {
  float: right;
}

.slider .social-icon {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 8;
}

.slider .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 13px;
}

.work-carousel2 .swiper-slide {
  padding: 0px 10px 50px;
  height: 100%;
}

.work-carousel2 .swiper-slide .img {
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.work-carousel2 .swiper-slide-active .img {
  -webkit-box-shadow: 0px 40px 30px -40px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 40px 30px -40px rgba(0, 0, 0, 0.3);
}

.work-carousel2 .swiper-slide-active .img:after {
  opacity: 1 !important;
}

.work-carousel2 .swiper-slide-active .cont h6,
.work-carousel2 .swiper-slide-active .cont h4 {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translateY(0px) !important;
  -ms-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}

.work-carousel2 .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  top: auto;
  right: auto;
  left: calc(50% - 120px);
  width: 240px;
  height: 2px;
  border-radius: 10px;
  background: #eee;
}

.work-carousel2
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  border-radius: 10px;
  background: #1e1e1e;
}

.work-carousel2 .swiper-button-next,
.work-carousel2 .swiper-button-prev {
  color: #000;
  width: 60px;
  height: 60px;
  border-radius: 0;
  border: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.work-carousel2 .swiper-button-next:after,
.work-carousel2 .swiper-button-prev:after {
  display: none;
}

.work-carousel2:hover .swiper-button-next,
.work-carousel2:hover .swiper-button-prev {
  opacity: 1;
}

.work-carousel2 .content {
  position: relative;
  height: 100%;
}

.work-carousel2 .content .img {
  position: relative;
  line-height: 0;
  height: 100%;
  border-radius: 10px;
}

.work-carousel2 .content .img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.7)),
    to(transparent)
  );
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.work-carousel2 a .content .cont {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

.work-carousel2 a .content .cont h6 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  color: white;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.work-carousel2 a .content .cont h4 {
  font-weight: 600;
  opacity: 0;
  color: white;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.work-carousel2.mcolumn .swiper-slide {
  padding: 0px;
}

.work-carousel2.mcolumn .swiper-slide .img {
  border-radius: 0;
}

.work-carousel2.mcolumn .swiper-slide-active .img {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.work-carousel2.mcolumn .swiper-slide-active .img:after {
  opacity: 1 !important;
}

.half-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f5f5f5;
  z-index: 1;
}

.half-bg.bottom {
  bottom: 0;
}

.half-bg.top {
  top: 0;
}

.half-bg.not-sub {
  background: #0c0f16;
}

.case-study {
  position: relative;
}

.case-study .swiper-slide .container {
  min-height: 75vh;
  padding: 100px 30px;
}

.case-study .swiper-slide.bg-img {
  background-position: center !important;
}

.case-study .swiper-slide .cont span {
  padding: 12px 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-size: 13px;
  margin-bottom: 50px;
}

.case-study .swiper-slide .cont h6 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.case-study .swiper-slide .cont h4 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.case-study .controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 150px;
  z-index: 4;
}

.case-study .controls .swiper-button-next,
.case-study .controls .swiper-button-prev {
  position: static;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #eee;
  color: #fff;
  display: block;
  margin: 5px auto;
  cursor: pointer;
}

.case-study .controls .swiper-button-next:after,
.case-study .controls .swiper-button-prev:after {
  display: none;
}

.works .lg-space > div {
  padding: 0 50px;
  margin-bottom: 50px;
}

.next-prog .box {
  position: relative;
}

.next-prog .box .bg-img {
  height: 320px;
  width: 320px;
  border-radius: 50%;
  margin: auto;
  background-position: center center;
  position: relative;
}

.next-prog .box .bg-img:before {
  border-radius: 50%;
}

.next-prog .box .caption,
.next-prog .box .copy-cap {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.next-prog .box .caption h1,
.next-prog .box .copy-cap h1 {
  font-size: 55px;
  font-weight: 800;
  display: block;
  min-width: 700px;
  text-align: center;
  margin: auto;
}

.next-prog .box .caption h1 .stroke,
.next-prog .box .copy-cap h1 .stroke {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px #111;
}

.next-prog .box .copy-cap {
  z-index: -1;
}

/* ====================== [ End Work ] ====================== */
/* ====================== [ Start services ] ====================== */
.works-header .capt h1 {
  font-size: 45px;
}

.works-header .capt h2 {
  font-size: 40px;
}

.slider.fixed-slider,
.works-header.hfixd {
  position: static;
}
