/* header logo */
@media only screen and (max-width: 991px) {
  .mo-left .header-nav .logo-header {
    display: flex !important;

    justify-content: center;
  }
}
/* price card */
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .section-head h2.title {
    text-align: center;
    padding-bottom: 31px;
  }
  .no-visible-mobile {
    display: none;
  }
  .main-bar .logo-header {
    width: 140px;
  }
  .content-inner.prt-accordion {
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* =========== tarievien mobile ========== */
@media only screen and (max-width: 600px) {
  .no-visible-mobile {
    display: none;
  }
  .main-bar .logo-header {
    width: 160px;
  }
  .pricing-list-tab .tabs li {
    display: block;
    margin-top: 5px;
  }
  .single-pricing-table h3 {
    font-size: 1rem;
  }
  .single-pricing-table span {
    font-size: 0.8rem;
  }
  .single-pricing-table .price {
    font-size: 1rem;
  }
  .single-pricing-table .price sub {
    font-size: 0.8rem;
  }
  .single-pricing-table .price sup {
    top: -10px;
    left: 1px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .single-pricing-table .pricing-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #__next > div > div > section > div > div:nth-child(3) > div > table > tbody {
    position: relative;
    overflow-x: auto;
  }
  .table.single-pricing-table > tbody > tr th {
    position: sticky;
    width: 200px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 5;
  }

  .table.single-pricing-table tr th.pricing-features.jouw {
    position: sticky;
    width: 200px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 5;
  }
}
@media only screen and (max-width: 767px) {
  .dlab-content .video-bx.style-3 {
    height: auto;
  }
  .video-bx.style-3 .video-btn .popup-youtube {
    width: 50px;
    height: 50px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  footer .container > .row div:nth-child(3) {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .site-header .extra-nav {
    display: flex;
    /* font-size: 18px; */
  }
  .section-1 {
    padding-top: 0px;
  }
  .video-bx.style-3 {
    height: auto;
  }
  .textwrapper {
    width: 74vw;
    padding: 13px 11px 0 11px;
  }
  .textwrapper p {
    font-size: 11px;
  }
  .textwrapper h6 {
    font-size: 11px;
  }
  .textwrapper:after {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .site-header .main-bar .extra-nav {
    display: none;
  }
  .ccta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: #8639fa;
  }
  .ccta p {
    margin: 0px;
  }
  .container .navbar-toggler {
    margin-left: 170px;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .caselogo .logo-img {
    width: 65%;
  }
  .caselogo .whoclient p {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  .ccta i {
    animation: blink 1s infinite;
  }
  .site-header .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 0;
  }
  .btn-mobile-nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    margin: 0 auto;
    right: 0;
    display: flex;
    float: unset;
    justify-content: center;

    border: white 1px solid;
    z-index: 99;
    width: 100vw;
  }
  .btn-mobile-nav .extra-cell {
    width: 100%;
  }
  .btn-mobile-nav .extra-cell button {
    width: 100%;
  }
  button.scroltop {
    bottom: 93px !important;
    right: 3px !important;
  }
  footer .footer-bottom {
    margin-bottom: 38px;
  }
  footer .footer-bottom .copyright-text {
    font-size: 12px;
  }
  .section-5 .testimonial-4 .testimonial-text {
    padding: 0px;
    position: relative;
    font-size: 13px;
    font-weight: 400;
  }
  .section-5 .testimonial-4 {
    padding: 11px;
  }
  .section-5 .testimonial-4 .testimonial-name {
    font-size: 15px;
    line-height: 11px;
    margin-bottom: 7px;
  }
  .section-5 .testimonial-4 .m-b20 {
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .swiper-container {
    max-width: 1199px;
    margin: 0 auto;
  }
}
